h1{
    color: crimson;
}

.header{
    background-color: #ffffff;
    display: flex;
justify-content: space-between;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    color: #f7f7f7;
}





















